<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chad.learning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".parent.application.LearningApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".parent.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".realm.activity.RealmActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".animator.ObjectAnimatorActivity" />
        <activity android:name=".animator.ValueAnimatorActivity" />
        <activity android:name=".animator.AnimatorSetActivity" />
        <activity android:name=".statusbar.activity.StatusBarActivity" />
        <activity android:name=".statusbar.activity.KitKatActivity" />
        <activity android:name=".mvp.activity.MvpActivity" />
        <activity android:name=".dagger.activity.DaggerActivity" />
        <activity android:name=".lambda.activity.LambdaActivity" />
        <activity android:name=".icepick.activity.IcepickActivity" />
        <activity android:name=".butterknife.activity.ButterKnifeActivity" />
        <activity android:name=".retrofit.activity.RetrofitActivity" />
        <activity android:name=".rxjava.activity.RxJavaActivity" />
        <activity android:name=".rxjava.entrylevel.activity.EntryLevelActivity" />
        <activity android:name=".rxjava.operator.creation.activity.CreationOperatorActivity" />
        <activity android:name=".rxjava.operator.function.activity.FunctionOperatorActivity" />
        <activity android:name=".rxjava.operator.function.activity.RetryActivity" />
        <activity android:name=".rxjava.operator.function.activity.RepeatActivity" />
        <activity android:name=".rxjava.operator.filter.activity.FilterOperatorActivity" />
        <activity android:name=".rxjava.operator.filter.activity.ConditionsActivity" />
        <activity android:name=".rxjava.operator.filter.activity.CountActivity" />
        <activity android:name=".rxjava.operator.filter.activity.TimeActivity" />
        <activity android:name=".rxjava.operator.filter.activity.IndexActivity" />
        <activity android:name=".rxjava.operator.condition.activity.ConditionOperatorActivity" />
        <activity android:name=".rxjava.demo.function.polling.activity.PollingActivity" />
        <activity android:name=".rxjava.demo.function.error.activity.ErrorRetryActivity" />
        <activity android:name=".rxjava.demo.filter.search.SearchActivity" />
        <activity android:name=".rxjava.demo.filter.shake.ShakeActivity" />
        <activity android:name=".rxbinding.activity.RxBindingActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".eventbus.EventBusOtherActivity" />
        <activity android:name=".paging.PagingActivity" />
    </application>
</manifest>
