<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chad.learning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".parent.application.LearningApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".parent.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".realm.activity.RealmActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".animator.ObjectAnimatorActivity" />
        <activity android:name=".animator.ValueAnimatorActivity" />
        <activity android:name=".animator.AnimatorSetActivity" />
        <activity android:name=".mvp.activity.MvpActivity" />
        <activity android:name=".dagger.activity.DaggerActivity" />
        <activity android:name=".lambda.activity.LambdaActivity" />
        <activity android:name=".icepick.activity.IcepickActivity" />
        <activity android:name=".butterknife.activity.ButterKnifeActivity" />
        <activity android:name=".retrofit.activity.RetrofitActivity" />
        <activity android:name=".rxjava.activity.RxJavaActivity" />
        <activity android:name=".rxjava.entrylevel.activity.EntryLevelActivity" />
        <activity android:name=".rxjava.operator.creation.activity.CreationOperatorActivity" />
        <activity android:name=".rxjava.operator.function.activity.FunctionOperatorActivity" />
        <activity android:name=".rxjava.operator.function.activity.RetryActivity" />
        <activity android:name=".rxjava.operator.function.activity.RepeatActivity" />
        <activity android:name=".rxjava.operator.filter.activity.FilterOperatorActivity" />
        <activity android:name=".rxjava.networkpolling.activity.PollingActivity" />
    </application>
</manifest>
