<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chad.hlife">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HLifeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/RegisterTheme" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:theme="@style/DetailTheme" />
        <activity
            android:name=".ui.activity.HistoryDetailActivity"
            android:theme="@style/DetailTheme" />
        <activity android:name=".ui.activity.CarActivity" />
        <activity
            android:name=".ui.activity.CarDetailActivity"
            android:theme="@style/DetailTheme" />
        <activity android:name=".ui.activity.RecipeActivity" />
        <activity android:name=".ui.activity.RecipeSearchActivity" />
        <activity
            android:name=".ui.activity.RecipeDetailActivity"
            android:theme="@style/DetailTheme" />
        <activity
            android:name=".ui.zhihu.activity.ZhiHuActivity"
            android:theme="@style/RedTheme" />
        <activity
            android:name=".ui.zhihu.activity.DetailActivity"
            android:theme="@style/RedTheme" />
        <activity
            android:name=".ui.zhihu.activity.CommentsActivity"
            android:theme="@style/RedTheme" />
        <activity
            android:name=".ui.zhihu.activity.ThemesDetailActivity"
            android:theme="@style/RedTheme" />
        <activity
            android:name=".ui.zhihu.activity.SectionsDetailActivity"
            android:theme="@style/RedTheme" />
        <activity
            android:name=".ui.activity.TaoTicketActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/RedTheme" />
        <activity android:name=".ui.activity.UserDataActivity" />
        <activity
            android:name=".ui.activity.UpdatePasswordActivity"
            android:theme="@style/UpdatePasswordTheme" />
        <activity android:name=".ui.activity.AboutSoftActivity" />
    </application>
</manifest>
