<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chad.hlife">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HLifeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.app.activity.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.app.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/MainTheme" />
        <activity android:name=".ui.app.activity.TaoTicketActivity" />
        <activity
            android:name=".ui.juhe.activity.NewsDetailActivity"
            android:theme="@style/DetailTheme" />
        <activity
            android:name=".ui.mob.activity.HistoryDetailActivity"
            android:theme="@style/DetailTheme" />
        <activity android:name=".ui.mob.activity.RecipeActivity" />
        <activity android:name=".ui.zhihu.activity.ZhiHuActivity" />
        <activity android:name=".ui.zhihu.activity.DetailActivity" />
        <activity android:name=".ui.zhihu.activity.CommentsActivity" />
        <activity android:name=".ui.zhihu.activity.ThemesDetailActivity" />
        <activity android:name=".ui.zhihu.activity.SectionsDetailActivity" />
    </application>
</manifest>
